$primary-font: 'Inter', sans-serif;
$secondary-font: 'DM Sans', sans-serif;

$color-primary: #043873;
$color-primary-light: #4f9cf9;
$color-light-yellow: #ffe492;
$color-light-blue: #a7cefc;
$color-white: #ffffff;
$color-Black: #212529;
