footer.footer
        div.footer__container
            div.footer__links
                div.footer__whitepace
                    img(src="images/Logo.png", alt="" width="144px")
                    p.p-white whitepace was created for the new ways we live and work. We make a better workspace around the world
                div.footer__product
                    h2 Product
                    ul 
                        li
                            a(href="") Overview 
                        li  
                            a(href="") Pricing 
                        li  
                            a(href="") Customer stories
                div.footer__resources
                    h2 resources
                    ul
                        li 
                            a(href="") Blog
                        li  
                            a(href="") Guides &amp; tutorials   
                        li  
                            a(href="") Help center
                div.footer__company
                    h2 Company
                    ul 
                        li
                            a(href="") About us 
                        li  
                            a(href="") Careers
                        li  
                            a(href="") Media kit
                    
                div.footer__try-it
                    h2 Try It Today
                    p.p-white Get started for free.Add your whole team as your needs grow.
                    button.btn--blue.btn__blue--size Start today
                        img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")          
    
            div.footer__social
                
                ul.footer__terms 
                    li     
                        span 
                            img(src="images/favicon.ico/earth.png", alt="")
                        a#language(href="") English
                        span 
                            img(src="images/favicon.ico/downArrow.png", alt="")
                    li 
                        a(href="") Terms<span>&#38;</span>privacy
                    li      
                        a(href="") Security
                    li
                        a(href="") Status
                    li    
                        a(href="") ©2022 Whitepace LLC.
                ul.footer__icons 
                    li 
                        a(href="") 
                            img(src="images/icons/_x30_1._Facebook.png", alt="facebook")
                    li  
                        a(href="")         
                            img(src="images/icons/Twitter.png", alt="twitter")
                    li 
                        a(href="")         
                            img(src="images/icons/Linkedin.png ", alt="linkedin")