doctype html 
html(lang='en')
 include head.pug 
 +head("white pace") 
 body.main__container

    include header.pug
    +navbar
           
    section.hero-section
        
            div.hero-section___box--text
                h1.text-white Get More Done with Whitepace   
                p.text-white Project management software that enables your teams to collaborate, plan, analyze and manage everyday tasks  
                button.btn--blue.hero-section__btn Try Whitepace Free
                    img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")
            div.hero-section__box--img
                img(src="images/Image-container.png", alt="some photo", )  

    section.work-management#products
        div.work-management__top-box
            div.work-management__text.BG__one
                h1.h1-size Project Management
                      
                p Images, videos, PDFs and audio files are supported. Create math expressions and diagrams directly from the app. Take photos with the mobile app and save them to a note.
                button.btn--blue.btn__blue--size Get Started
                    img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")
            div.work__img
                img(src="images/Image-container.png", alt="some photo" )
        div.work-management__bottom-box        
            div.work-management__img
                img(src="images/Work Together Image.png", alt="")    
            div.work-management__text.BG__two
                h1.h1-size Work together
                p With whitepace, share your notes with your colleagues and collaborate on them.You can also publish a note to the internet and share the URL with others.
                button.btn--blue.btn__blue--size Try it now
                    img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")

             
    section.customize-it#solutions
        div.customize-it__text
            h1.h1-size.text-white Use as Extension
            p.p-white Use the web clipper extension, available on Chrome and Firefox, to save web pages or take screenshots as notes.
            button.btn--blue.btn__blue--size Let’s Go
                img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")
        div.customize-it__img     
            img(src="images/Image-container.png", alt="")


    section.customize-it-two
        div.customize-it-two__img        
            img(src="images/customize2.png", alt="")
        div.customize-it-two__text
            h1.h1-size Customize it to your needs
            p Customize the app with plugins, custom themes and multiple text editors (Rich Text or Markdown). Or create your own scripts and plugins using the Extension API.
            button.btn--blue.btn__blue--size Let’s Go
                img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow") 


    section.pricing#pricing
        div.pricing__text
            h1 Choose Your Plan
            p Whether you want to get organized, keep your personal life on track, or boost workplace productivity, Every note has the right plan for you.
        div.pricing__cards
            div.swiper.mySwiper
                div.swiper-wrapper
                    div.swiper-slide
                        div.pricing__cards--left
                            div.pricing__card--details
                                h3 Free
                                h2 $0
                                p Keep home and family on track
                            div.pricing__card--plan
                                ul

                                    li
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p Sync unlimited devices
                                    li         
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p 10 GB monthly uploads
                                    li         
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p 200 MB max. note size
                                    li 
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p Customize Home dashboard and access extra widgets
                                    li         
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p Connect primary Google Calendar account
                                    li         
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p Add due dates, reminders, and notifications to your tasks
                                    button.pricing__cards--btn Get Started
                    div.swiper-slide                
                        div.pricing__cards--center
                            div.pricing__center--details
                                h3.p-white Personal
                                h2 $11.99
                                p.text-white Keep home and family on track
                            div.pricing__center--plan
                                ul
                                    li
                                        img(src="images/favicon.ico/price icon G.png", alt="")
                                        p.text-white Sync unlimited devices
                                    li         
                                        img(src="images/favicon.ico/price icon G.png", alt="")
                                        p.text-white 10 GB monthly uploads
                                    li         
                                        img(src="images/favicon.ico/price icon G.png", alt="")
                                        p.text-white 200 MB max. note size
                                    li 
                                        img(src="images/favicon.ico/price icon G.png", alt="")
                                        p.text-white Customize Home dashboard and access extra widgets
                                    li         
                                        img(src="images/favicon.ico/price icon G.png", alt="")
                                        p.text-white Connect primary Google Calendar account
                                    li             
                                        img(src="images/favicon.ico/price icon G.png", alt="")
                                        p.text-white Add due dates, reminders, and notifications to your tasks
                                    button.btn--blue.btn__blue--size Get started

                    div.swiper-slide
                        div.pricing__cards--right
                            div.pricing__card--details
                                h3 Organization
                                h2 $49.99
                                p Keep home and family on track
                            div.pricing__card--plan
                                ul
                                    li
                        
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p Sync unlimited devices
                                    li         
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p 10 GB monthly uploads
                                    li         
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p 200 MB max. note size
                                    li 
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p Customize Home dashboard and access extra widgets
                                    li         
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p Connect primary Google Calendar account
                                    li         
                                        img(src="images/favicon.ico/price icon B.png", alt="")
                                        p Add due dates, reminders, and notifications to your tasks
                                    button.pricing__cards--btn Get Started
                div.swiper-pagination
            
    section.your-work#resources
        div.your-work__text
            h1.h1-size.text-white Your work, everywhere you are
            p.p-white Access your notes from your computer, phone or tablet by synchronising with various services, including whitepace, Dropbox and OneDrive. The app is available on Windows, macOS, Linux, Android and iOS. A terminal app is also available!
        button.btn--blue.btn__blue--size Try Taskey
            img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")

    section.your-data
        div.your-data__text
            h1.h1-size 100% your data
            p The app is open source and your notes are saved to an open format, so you'll always have access to them. Uses End-To-End Encryption (E2EE) to secure your notes and ensure no-one but yourself can access them.
            button.btn--blue.btn__blue--size Read more
                img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")
        div.your-data__img    
            img(src="images/icons/your data img.png", alt="")


    section.our-sponsors
        div.our-sponsors__text    
            h1.h1-size Our sponsors
        div.our-sponsors__icons 
            img.apple(src="images/icons/Apple.png", alt="Apple icon")   
            img.microsoft(src="images/icons/Microsoft.png", alt="Microsoft icon")
            img.slack(src="images/icons/Slack.png", alt="Slack icon" )
            img.google(src="images/icons/Google.png", alt="Google icon" )


    section.apps
        div.apps__img
            img(src="images/icons/Apps.png", alt="")
        div.apps__text
            h1.h1-size.text-white Work with Your Favorite Apps Using whitepace
            p.p-white Whitepace teams up with your favorite software. Integrate with over 1000+ apps with Zapier to have all the tools you need for your project success.
            button.btn--blue.btn__blue--size Read more
                img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")    


    section.testimonia
        div.testimonia__text    
            h1.h1-size What Our Clients Says
        div.testimonia__wrapper    
            div.swiper.mySwiper
                div.swiper-wrapper
                    div.swiper-slide
                        div.testimonia__cards--white
                            div.testimonia__card--text
                                img(src="images/icons/Quote B.png", alt="")
                                p Whitepace is designed as a collaboration tool for businesses that is a full project management solution.
                            
                            div.testimonia__card--clients  
                                img(src="images/avatar/Avater 1.png", alt="") 
                                h3 Oberon Shaw, MCH
                                    p Head of Talent Acquisition, North America
                    div.swiper-slide                

                        div.testimonia__cards--blue 
                            div.testimonia__card--text
                                img(src="images/icons/Quote W.png", alt="")   
                                p Whitepace is designed as a collaboration tool for businesses that is a full project management solution.
                            
                            div.testimonia__card--clients   
                            
                                img(src="images/avatar/Avater 2.png", alt="") 
                                h3 Oberon Shaw, MCH
                                    p Head of Talent Acquisition, North America
                    div.swiper-slide
                        div.testimonia__cards--blue
                            div.testimonia__card--text 
                                img(src="images/icons/Quote W.png", alt="")   
                                p Whitepace is designed as a collaboration tool for businesses that is a full project management solution.  
                            
                            div.testimonia__card--clients   
                                img(src="images/avatar/Avater 3.png", alt="") 
                                h3 Oberon Shaw, MCH
                                    p Head of Talent Acquisition, North America
                div.swiper-pagination
            
                

    section.free-trial
        div.free-trial__container
            div.free-trial__box   
                h1.h1-size.text-white Try Whitepace today
                p.p-white 
                    |Get started for free.
                    br
                    |Add your whole team as your needs grow.
                button.btn--blue.btn__blue--size Try Taskey free
                    img.header__icons--size(src="images/favicon.ico/Right arrow Icon.png", alt="right arrow")
                p.p-white On a big team? Contact sales
            div.free-trial__icons
                img.icons__apple-logo(src="images/icons/apple-black-logo 2.png", alt="")
                img.icons__windows-logo(src="images/icons/windows-logo 1.png", alt="")
                img.icons__android-logo(src="images/icons/android-logo 1.png", alt="")


    include footer.pug
    script(src="index.js" charset="utf-8")
    
    
        
