.swiper {
  width: 90%;
  height: 90%;
  &-slide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 60px 40px;
  }
  &__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
